<!-- Setup Modal -->
<div id="setupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Configuración para la Base de Datos</h3>
  </div>
  <div class="modal-body">
    <form id="setupForm" class="form-horizontal" method="post" action="includes/setup.php">
      <fieldset>
        <legend>Base de Datos</legend>
        <div class="control-group">
          <label class="control-label">Servidor</label>
          <div class="controls">
            <input name="host" type="text" placeholder="127.0.0.1">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Usuario</label>
          <div class="controls">
            <input name="user" type="text" placeholder="usuario">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Contraseña</label>
          <div class="controls">
            <input id="dbpassword" name="pass" type="password" placeholder="contraseña">
            <input id="showpass" type="button" class="btn btn-success btn-small" value="Show">
          </div>
        </div>
        <hr>
        <div class="control-group">
          <label class="control-label">Nombre BD</label>
          <div class="controls">
            <input name="name" type="text" placeholder="asteriskcdrdb">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Tabla CDR</label>
          <div class="controls">
            <input name="table" type="text" placeholder="cdr">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <button id="saveSetup" type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">
      Guardar
    </button>
  </div>
</div>
<!-- End Of Setup Modal -->
