<!-- Help Modal -->
<div id="helpModal">
  <div>
    <ul>
      <li>
        <p>Ingrese a Configuración y rellene los parámetros para conexión de la Base de Datos.</p>
      </li>
      <li>
        <p>Una vez configurada la base de datos, regrese a Inicio rellene los campos así:
          <ul>
            <li>En el campo <strong>Extensión</strong> ingrese una extensión existente en el sistema.</li>
            <li>En el campo <strong>Estado</strong> seleccione el estado de las llamadas a consultar.</li>
            <li>En los <strong>Desde</strong> y <strong>Hasta</strong>, ingrese una fecha inicial y una final para las cuales desea conocer las llamadas de la extensión ingresada.</li>
          </ul>
        </p>
      </li>
      <li>
        <p>Con los campos de la consulta completamente dilegenciados, haga click en el botón <strong>Mostrar</strong> para ver las estadísticas.</p>
      </li>
      <li>
        <p>Cuando tenga los datos en pantalla podrá seleccionar qué desea hacer con ellos.</p>
      </li>
    </ul>
    {# <hr>
    <p>Consulta Realizada: </p>
    <p>
      <!-- TODO: Escribir Consulta SQL. -->
    </p> #}
  </div>
</div>
<!-- End Of Help Modal -->

<!-- About Modal -->
<div id="aboutModal">
  <div>
    <p>Realizado por: </p>
    <p>
      <ul>
        <li>Grupo NetHexa</li>
        <li>Christian Gutiérrez Sierra</li>
        <li>Juan Yarce Carmona</li>
        <li>Daniel Pérez Alzate</li>
      </ul>
    </p>
    <hr>
    <p>Utiliza: </p>
    <p>
      <ul>
        <li><a href="http://silex.sensiolabs.org" target="_blank">Silex</a><br></li>
        <li><a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Bootstrap</a></li>
      </ul>
    </p>
    <hr>
    <p>Versión 0.0.2</p>
  </div>
</div>
<!-- End Of About Modal -->
