<!-- Help Modal -->
<div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Para usar esta Herramienta</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>
        <p>Ingrese a Configuración y rellene los parámetros para conexión de la Base de Datos.</p>
      </li>
      <li>
        <p>En el campo Extensión ingrese una extensión existente en el sistema.</p>
      </li>
      <li>
        <p>En los campos siguientes (Desde - hasta), ingrese una fecha inicial y una final para los cuales desea conocer las llamadas de la extensión ingresada.</p>
      </li>
      <li>
        <p>Dé click en el botón Mostrar para ver las estadísticas.</p>
      </li>
      <li>
        <p>Seleccione lo que desea hacer con los datos en la tabla.</p>
      </li>
    </ul>
    <hr>
    <p>Consulta Realizada: </p>
    <p>
      <!-- TODO: Escribir Consulta SQL. -->
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>
<!-- End Of Help Modal -->