<!-- About Modal -->
<div id="aboutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Acerca de esta Herramienta</h3>
  </div>
  <div class="modal-body">
    <p>Realizado por: </p>
    <p>
      Christian Gutiérrez Sierra - 
      <a href="mailto:chgutierrez@nethexa.com">soporte@nethexa.com</a>
    </p>
    <hr>
    <p>Utiliza: </p>
    <p>
      <a href="http://silex.sensiolabs.org" target="_blank">Silex</a><br>
      <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Bootstrap</a>
    </p>
    <hr>
    <p>Versión: </p>
    <p>0.0.1</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>
<!-- End Of About Modal -->
