{% extends 'layout.html.twig' %}

{% block content %}
<div id="da-content-area">
  <div class="row-fluid">
    <div class="span12">
      <div class="da-panel">
        <div class="da-panel-header">
           <span class="da-panel-title">
           <i class="icon-settings"></i>
            Configuración para la Base de Datos
          </span>
        </div>
        <div class="da-panel-content da-form-container">
          <form id="setupForm" class="da-form da-form-inline" method="post" action="includes/setup.php">
           <!-- Información del servidor y la base de datos-->
            <div class="da-form-row">                    
              <div class="da-form-cols">
                <div class="col-3-8">
                  <label class="da-form-label">Servidor</label>
                  <div class="controls">
                    <input name="host" id="host" type="text"placeholder="127.0.0.1" align="right">
                  </div>
                </div>
                <div class="col-3-8">
                  <label class="da-form-label">Puerto</label>
                  <div class="controls">
                    <input name="port" id="port" type="text" placeholder="3306" align="right">
                  </div>
                </div>
              </div>
              <div class="da-form-cols">
                <div class="col-3-8">
                  <label class="da-form-label">Usuario</label>
                  <div class="controls">
                    <input name="user" id="user" type="text"placeholder="Usuario" align="right">
                  </div>
                </div>
                <div class="col-3-8">
                  <label class="da-form-label">Contraseña</label>
                  {# <div class="controls"> #}
                    <div class="input-append">
                      <input name="pass" id="pass" type="password" type="text" placeholder="">
                      <button id="showpass" class="btn btn-danger appended-button" type="button">Mostrar</button>
                    </div>
                  {# </div> #}
                </div>
              </div>
            </div>
            <div class="da-form-row">
              <div class="da-form-cols">
                <div class="col-3-8">
                  <label class="da-form-label">Nombre de la base de datos</label>
                  <div class="controls">
                    <input id="name" name="name" type="text" placeholder="asteriskcdrcdr" align="right">
                  </div>
                </div>
                <div class="col-3-8">
                  <label class="da-form-label">Tabla CDR</label>
                  <div class="controls">
                    <input id="table" name="table" type="text" placeholder="cdr" align="right">
                  </div>
                </div>
              </div>
            </div>
            <!-- Acciones -->
            <div class="btn-row">
              <div class="da-form-item da-form-cols">
                  <button id="erase" type="reset" class="btn gray left">Cancelar</button>
                  <button id="saveSetup" type="button" class="btn btn-success">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}