<div id="da-sidebar">
  <!-- Navigation Toggle for < 480px -->
  <div id="da-sidebar-toggle"></div>
  <!-- Main Navigation -->
  <div id="da-main-nav" class="btn-container">
    <ul class="nav">
      <li class="{{ active == 'app' ? 'active' : ''}}">
        <a href="app">
          <span class="da-nav-icon">
            <i class="icon-home"></i>
          </span>
          Inicio
        </a>
      </li>
      <li class="{{ active == 'setup' ? 'active' : ''}}">
        <a href="setup">
          <span class="da-nav-icon">
            <i class="icon-settings"></i>
          </span>
          Configuración
        </a>
      </li>
      <li>
        <a href="logout">
        <span class="da-nav-icon">
          <img src="assets/images/icons/black/32/exit.png">
        </span>
        Salir
        </a>
      </li>
    </ul>
  </div>
</div>  